body {
	font-family: Arial;
	margin: 0;
}

nav {
	background: #222;
	padding: 15px;
}

nav a {
	color: white;
	margin-right: 20px;
	text-decoration: none;
}

.right {
	float: right;
}

h1 {
	text-align: center;
	margin-top: 100px;
}